NODE_ENV = "development"
PORT = 3000


EMAIL_USER = "rakibul174520@gmail.com"
EMAIL_PASS = "nxvt vnkx fwjd uoff"

CLOUDINARY_CLOUD_NAME = "dd7uhuhan"
CLOUDINARY_API_KEY = "688115652124986"
CLOUDINARY_API_SECRET = "Pn9_CBqtLArTh1EXDFwe1Rb7j38"

USER_DEFAULT_PASS = 123456
# DATABASE_URL = 'postgresql://neondb_owner:npg_/2gVyYwWjfcO7@ep-little-field-a1wklo6i-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require'


# DATABASE_URL="postgresql://pos_user:pos_12345@localhost:5432/pos_db"

DATABASE_URL=postgresql://pos_user:pos_12345@postgres:5432/pos_db

#postgresql://postgres:iBurwEhPPENZUdZjAFnlTAOGfleIuQOk@maglev.proxy.rlwy.net:21866/railway


# CREATE USER myuser WITH PASSWORD 'mypassword';
# CREATE DATABASE mydb OWNER myuser;
# GRANT ALL PRIVILEGES ON DATABASE mydb TO myuser;
# postgresql://<username>:<password>@<host>:<port>/<database>

# sudo -u postgres psql
# ALTER USER projects CREATEDB; // here is "projects" is project name

# You should see: ALTER ROLE

# logout: \q

# npx prisma migrate dev --name init






